<h2>Listing Contacts</h2>

<div style="margin: 0px 0px 620px 0px;">        
  
  <% @contacts.each do |contact| %>
    <div class="contact-warper">  
    <div class="contact-sub"><%= contact.contact_sub %></div>
      <div class="contact-name"><%= contact.name %></div>
      <div class="contact-question"><%= truncate(contact.question, length: 290, omission: '...') %></div>
      <div><%= link_to "Read More", contact, class: "link-to-btn-cont" %></div>
      <% if %>
        <hr>
      <div class="contact-email"><%= contact.email %></div>
      <div class="contact-destroy"><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    </div>
  <% end %>
</div>