<h2><%= @contact.contact_sub %></h2>

<p style="color:black">
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p style="color:black">
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p style="color:black">
  <strong>Message: </strong>
  <%= @contact.question.html_safe %>
</p>

<br>

<%= link_to "Back", contacts_path, class: "link-to-btn" %>